<% question.options.each do |option| %>
<div class="wide column option">
  <div class="ui checkbox">
    <input type="checkbox" checked="" name="answer" value="<%= option.id %>" />
    <label><%= option.title %></label>
  </div>
</div>
<% end %>>
