<% question.options.each do |option| %>
  <div class="column option">
    <div class="ui radio">
      <input type="radio" checked="" name="answer" value="<%= option.id %>" />
      <label class="capitalize">
        <%= option.title %>
      </label>
    </div>
  </div>
  <% end %>