<div class="ui attached stackable menu">
    <div class="ui container">
        <a class="item" href="<%= root_path %>">
            <i class="home icon"></i> Início
        </a>
        <div class="right item">
            <%= render partial: 'shared/search' %>
        </div>
    </div>
</div>