<!-- Page Contents -->
<div class="ui center aligned main basic container">
  <h1 class="ui header">Ajude meu voto</h1>

  <div class="ui equal width grid">
    <div class="column"></div>
    <div class="column">
      <a class="ui primary big button" href="<%= ajudameuvoto_index_path %>">
        Ajude meu voto
      </a>
    </div>
    <div class="column"></div>
  </div>
</div>
